@font-face {
  font-family: 'Garamond';
  font-style: normal;
  font-weight: normal;
  src: local('Garamond'), url('Garamond.ttf') format('truetype');
  }

@font-face {
  font-family: 'Proxima_Nova_Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Proxima_Nova_Regular'), url('Proxima_Nova_Regular.otf') format('opentype');
  }

@font-face {
  font-family: 'Proxima_Nova_Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Proxima_Nova_Bold'), url('Proxima_Nova_Bold.otf') format('opentype');
  }

.body{
  font-family: 'Proxima_Nova_Regular'; 
  margin: 0;
  padding: 0;
  height: 100vh;
}

#particles{
  height: 100%;
  background:rgb(243, 242, 242);
}

h2, h3, h5 {
  	font-family: "Garamond";
}

address {
  font-family: 'Proxima_Nova_Regular';
}

.btnlink{
 background-color: #1d5797;
 	font-family: 'Proxima_Nova_Regular';
}

.btnlink:hover{
  background-color: #ebf8ff;
  color: #1d5797;
  transition-duration: 0.2s;
}

.breadcrumb{
  	font-family: 'Proxima_Nova_Regular';
}

.jumbotron {
  position: relative;
  margin:0px;
  border-radius: 0px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background-color: #5b6467;
  background-image: linear-gradient(180deg, #bebebe 0%, #868686 74%);
  font-family: 'Proxima_Nova_Regular';
}

.navbar-dark{
  background: #1d5797 ;
  color: #ebf8ff;
  position: sticky;
  top:0;
  z-index: 1000;
  box-shadow: 0px 1px #979797;
  font-family: 'Proxima_Nova_Bold';
  /* height: 90px; */
}

.footer{
  background-color: #1d5797;
  bottom: 0;
  color: #ebf8ff;
  margin:50px 0px auto;
  padding: 20px 0px 0px 0px;
  font-family: "Proxima_Nova_Bold";
}

.nav-item{
  margin-left: 20px;
  font-size: 16px;
}

/* a.nav-link{
  color:white !important;
}

a.active{
  opacity: 50% !important;
  transition-duration: 00.2s;
  margin-top: 2px;
} */


.carousel-caption h3{
  font-size: 61px;
  color:#ebf8ff;
  font-family: 'Proxima_Nova_Bold';
  padding-bottom: 280px;
}


.carousel-item {
  justify-content: center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


.legend{
  background: transparent !important;
  padding-bottom: 350px !important;
  font-size: 60px !important;
  color:#ebf8ff !important;
  font-weight:900 !important;
}

.aboutus{
  height: 100vh;
}

.aboutusrow{
  margin-top: 100px;
}

.mission{
  height: 100vh;
}

.missionrow{
  margin-top: 100px;
}

.card{
  border-radius: 0%;
  border-color:#f2f2f2;
  box-shadow: 2px 3px #f2f2f2;
  /* background-color: #f2f2f2; */
}

.card:hover{
  transform: scale(1.03);
  transition-duration: 0.5s;
}

.media-body{
  border-radius: 0%;
  border-color:#f2f2f2;
  box-shadow: 2px 3px #f2f2f2;
  background-color:white;
}

.media-body:hover{
  transform: scale(1.03);
  transition-duration: 0.5s;
}

.card-text{
  font-size: 15px;
  line-height: 120%;
  font-family: 'Proxima_Nova_Regular';
  color: #000000;
  text-align: justify;
}

.card-title{
  font-family: 'Garamond';
  font-size: 30px;
  color: #272727;
  word-wrap: break-word;
}

img:not(#logo){
  box-shadow: 2px 3px #f2f2f2;
}

.qualitycontrol{
  height: 100vh;
}

.qualitycontrolrow{
  margin-top: 100px;
}

.services{
  height: 100vh;
}

.servicesrow{
  margin-top: 25px;
}

.valueadded{
  height: 100vh;
}

.valueaddedrow{
  margin-top: 50px;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }

.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.contactback{
    font-family: 'Proxima_Nova_Bold';
    background-repeat: repeat;
    color: white;
    padding: 45px;
    opacity: 90%;
    border-radius: 5px;
  }

  .director{
    margin-top: 2em;
  }